*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img.picture{
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #1c1b41, #3c3360);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}